doctype html
html
	head
		title=title
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		link(rel='stylesheet', href='/stylesheets/form.css')
		link(rel='stylesheet', href='/stylesheets/projects.css')
	body(data-spy="scroll" data-target="#navbar")
		block content
		//- Javascript at end of file for faster loading
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/application.js')
		script
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-73090965-1', 'auto');
			ga('send', 'pageview');