doctype html
html
	head
		title=title
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		link(rel='stylesheet', href='/stylesheets/form.css')
		link(rel='stylesheet', href='/stylesheets/projects.css')
	body(data-spy="scroll" data-target="#navbar")
		block content
		//- Javascript at end of file for faster loading
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/application.js')