doctype html
html
  head
    title= Bryden Fogelman
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  	div.container
  		div.row
  			div.col-md-4

  			div.col-md-8

  	//- Javascript at end of file for faster loading
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
