doctype html
html
	head
		title=title
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		//- Javascript at end of file for faster loading
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')