extends layout

block content
	div.container
		div.row
			div.col-md-6
				form(method="post" action="/new_post")
					legend New Post
					div.form-group
						label(for="title-field") Title
						input(type="text" name="title" id="title-field").form-control
					div.form-group
						label(for="content-field") Content
						textarea(type="text" name="content" id="content-field").form-control
					div.form-group
						button(type="sumbit" id="submit").btn.btn-default Submit