
/* Modifying the way buttons look and feel */
#return-home-btn {
	background-color: white;
	border-color: #7f8c8d;
	color: #7f8c8d;
}

#return-home-btn:hover {
	background-color: rgba(200,200,200,0.7);
	color: #7f8c8d;
}

/* HALP */

#halp {
	margin-top: 45px;
}

/* IMAGES */
.project-image1 {
	width: 500px;
	display: inline-block;
}

/* VIDEO */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

