body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.nav {

}*/

.profile-photo {
	width: 80%;
	height: 80%;

}

.center {
	text-align: center;
}
