
/* APPLIED TO EVERYTHING */
html* {
	font-family: 'Droid Sans', sans-serif;
	color: #212121;
}

body {
	padding: 50px;
/*	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	background-color: #f8fafa;
}

.row {
	display: block;
	margin: auto;
	padding-top: 25px;
}

h3 {
	font-size: 2em;
	color: #D32F2F;
}

hr {
	border-color: #727272;
	border-width: 2px;
	padding-bottom: 25px
}

.btn-default {
	background-color: #009688;
	font-size: 1.3em;
	color: white;
}

.btn-default:hover {
	background-color: #00877A;
	color: white;
}

/* NAVBAR */

/* BIO */
#about-me {

}

.profile-photo {
	border-radius:50% 50% 50% 50%;  
	width:300px;
	height:300px;
	display: block;
	margin: auto;
}

/* 
ul {
	list-style: none;
}*/

/* PROJECTS */

#projects {

}

.block-photo {
	width: 300px;
	height: auto;
	display: inline-block;
}

/* BLOG */




/* CONTACT */

#contact-form {
	width: 50%;
}

/* MAKING FORMS LOOK PRETTY */

.form-control {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #B6B6B6;
	box-shadow: none;
}

.form-control:focus {
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: #B6B6B6;
	box-shadow: 0 2px 1px -1px #D32F2F;
}

/* GENERAL CLASSES */

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* GENERAL MODIFICATIONS */
a {
	color: black;
	text-decoration: none;
	margin: 5px;
}

a:hover {
	color: #727272;
	text-decoration: none;
}

/* Random components */
#resume {
	margin-top: 15px;
}

